  body{
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
  overflow: hidden;
  align-items: center;
  margin: 0rem;
}

/*cursor*/
.trail { 
    position: absolute;
    height: 12px; width: 12px;
    border-radius: 6px;
    background: linear-gradient(to right, #00ff00,#024902);
}


/*Loading*/
#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.992;
  z-index: 101;
  background-color: #111111;
}

#loading-image {
  position: absolute;
  width: 100px; 
  height: 100px; 
  z-index: 102; 
  animation: loader 1s linear infinite;
  transform-origin: center center; 
}

@keyframes loader {
  from {
    transform: rotate(0deg); /* Rotación inicial */
  }
  to {
    transform: rotate(360deg); /* Rotación completa */
  }
}


#loading-image2 {
  position: absolute;
  width: 250px; 
  height: 250px; 
  z-index: 102; 
  animation: loader2 1.5s linear infinite;
  transform-origin: center center; 
}

@keyframes loader2 {
  from {
    transform: rotate(360deg); /* Rotación inicial */
  }
  to {
    transform: rotate(0deg); /* Rotación completa */
  }
}


::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #000; /* Color del "thumb" del scrollbar */
  border-radius: 5px; /* Borde redondeado del "thumb" */
}

/* Firefox */
/* Modificar el scrollbar en Firefox */
* {
  scrollbar-color: #000 #000; /* Color del scrollbar */
}

/* Estilo de la barra de desplazamiento horizontal en WebKit */
/* WebKit (Chrome, Safari) */
::-webkit-scrollbar-horizontal {
  height: 10px; /* Altura del scrollbar horizontal */
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #333; /* Color del "thumb" del scrollbar horizontal */
  border-radius: 5px; /* Borde redondeado del "thumb" horizontal */
}

/* mobil */

@media only screen and (max-width: 1024px) {
  .btn {
    margin: 0 2% !important;
  } 

  .circuloUFOContainer {
    flex-direction: column; 
    align-items: center; 
  }

  .circuloUFO{
    scale: 150%;
  }
  
  .textoSolo button {
    width: 80% !important; 
    font-size:15px !important;
  }

}

@media only screen and (max-width: 768px) {
 body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 95%;
  }

  .containerbtn {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  
  .imatge {
    max-width: 100%;
    margin: 20px 0;
  }
  
   .btn {
    font-size: 25px !important;
    padding: 8px 16px !important;
    margin: 0 20% !important;
    }
 

  .Gtext {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 2vh;
  }

  
  .textoSolo button {
    width: 90%; 
    max-width: 350px; 
    max-height: 50px;
    margin: 4px auto; 
    font-size:15px !important;
  }

  #upcomingButton{
    font-size: 15px;
  }


  .imagenIzquierda {
    width: 90%; 
    max-width: 300px; 
    margin-bottom: 20px; 
    z-index: 16;
  }

  .circuloUFO{
    width: 60%; 
    margin: 20px auto; 
    z-index: 16;
    scale: 300%;
    margin-top: 80px !important;
  }

   #loading {
    background-color: #111111; 
    z-index: 9999; 
    left: auto;
  }

  #loading-image {
    max-width: 50px; 
    max-height: 50px; 
    z-index: 10000; 
  }
   #loading-image2 {
    max-width: 150px; 
    max-height: 150px; 
    position: absolute;
    z-index: 10000; 
  }

  .trail { 
    background: linear-gradient(to right, rgba(0, 72, 144, 0), rgba(0, 205, 255, 0));
  }

  .btn:hover::before {
  transform: rotate(0deg) !important;
  }

  .btn:hover::after {
  transform: rotate(0deg) !important;
  }

  .btn:hover {
  transform: scale(1.0) !important;
  }


}



/* distribució pag */

.containerbtn {
  background-color: none;
  display: flex;
  width: 100%;
  height: 50%;
  position: relative; /* Cambiamos a posición relativa para colocar los botones relativos a este contenedor */
  align-items: center;
  justify-content: center; /* Centramos horizontalmente los elementos dentro del contenedor */
  background-color: none;
  margin-top: 0.5%;
}

.imatge {
  max-width: 20%;
  height: auto;
  margin: auto; 
  transition: all 0.5s; 
  z-index: 2;
}


.imatge:hover {
  transform: scale(1.05);
  background-image: radial-gradient(circle at center, rgba(0, 255, 0, 0.5), rgba(0, 0, 0, 0) 60%);
}



/*BUTTONS*/
.btn {
  text-align: center;
  padding: 0.4% 1%; /* Utilizamos un 5% de padding arriba y abajo y un 10% de padding a los lados */
  width: 300%; /* Establecemos el ancho en un 300% */
  cursor: pointer;
  color: #B2CFC5;
  transition: all 0.5s;
  font-family: 'Goldman', cursive;
  z-index: 100;
  margin: 0 4%; /* Utilizamos un 6% de margen a los lados */
  padding-top: 0.5%;
  position: relative;
  font-size: 180%; /* Establecemos el tamaño de fuente en un 4% */
  text-decoration: none;
  white-space: nowrap; 
  height: 30px;
}

.btn:hover {
  color: #00FF00; /* Cambiamos el color del texto a blanco al pasar el cursor sobre el botón */
}

.btn-izquierda {
  float: left; 
}

.btn-derecha {
  float: right;
}

.btn span {
  z-index: 5;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn::before  {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 16;
  transition: all 0.5s;
  border: 3px solid rgba(51, 255 ,51, 0.1);
  border-radius: 60px; 
  background: radial-gradient(circle, rgba(51, 255, 51, 0.1) 50%, rgba(51, 255, 51, 0.3) 100%);
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
  border: 3px solid rgba(51, 255 ,51, 0.1);
  background: radial-gradient(circle, rgba(51, 255, 51, 0.1) 50%, rgba(51, 255, 51, 0.3) 100%);
  background-color:#000;
  border-radius: 60px;  
}

.btn:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}

.btn:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}

.btn:hover {
  transform: scale(1.3);
}


/*content web*/

.Gtext {
  display: flex;
  justify-content:center;
  z-index: 16;
  margin: 10px auto;
  margin-top: 2vh;
  gap: 10px;
}

.textoSolo button {
  width: 570px;
  height: 120px;
  border-radius: 40px;
  font-size: 30px;
  font-family: 'Goldman', cursive;
  color: #00ff00;
  background-color: rgba(0,0,0,0.0);
  transition: all 0.8s;
  margin: auto 4px;
  letter-spacing: 1px;
  position: relative; /* Agregada posición relativa para elementos ::before y ::after */
  border: 3px solid rgba(5,5,5, 0);
}

 
.textoSolo button:hover {
  background-image: linear-gradient(-45deg, 
      #55E34B90, 
      #21D6DE90 15%, 
      #8642C390 70%
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Para Safari */
  border: 1px solid rgba(255, 255, 255, 1);
  color: #fff;  
  letter-spacing: 5px;
  box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.8),
              0px 4px 10px rgba(0,0,0,0.2), 
              0px 0px 20px rgba(255, 255, 255, 0.8);
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 1),
               0px 0px 10px rgba(255, 255, 255, 0.6);
  
}

.textoSolo2 button:hover {
  background-image: linear-gradient(60deg, 
      #55E34B90, 
      #D73F6590 40%, 
      #DDA02190 80%
  );
}

/* Aplicar filtro de desenfoque a la imagen */
.circuloUFOImage {
  filter: blur(20px);  
  transition: filter 0.3s ease; 
}


/*Slider semicirculo*/
.containerSlider {
  text-align: center;
  z-index: 100;
}

.circuloUFOContainer {
  display: flex;
  justify-content: flex-end; /* Desplaza los elementos a la derecha */
  align-items: center;
}

.imagenIzquierda {
  width: 50%; /* Ajusta el tamaño de la imagen a la izquierda */
}

.circuloUFO {
  display: block;
  width: 20%;
  margin:  40px auto;  
  border-radius: 30% 100% 30% 100%;
  border: 2px solid rgba(50, 50, 50, 1);
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
  animation: transform-7 5s infinite alternate;
  transform: perspective(-400px) rotateY(0deg);
  object-fit: contain;
}


.circuloUFO img {
  display: block;
  width: 100%;
  height: auto;
  filter: blur(20px);
}


/*background stars*/
.fullcover {
  position: relative;
}

.difuminado {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -99; 
  backdrop-filter: blur(5px);
}


*background stars*/
.fullcover {
  position: relative;
}

.difuminado {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -99; 
  backdrop-filter: blur(5px);
}


/*lightning*/
.BGlightning{
  filter: blur(5px);
  position:fixed;
  background-size: cover;
  background-position: left;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

canvas3{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 102; 
        background-size: cover;
        background-repeat: no-repeat; 
    }


/*blur sphere background*/
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, darkblue);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: -101;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -101;
  backdrop-filter: blur(12vmax);
}
