  body{
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  
}

::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #000; /* Color del "thumb" del scrollbar */
  border-radius: 5px; /* Borde redondeado del "thumb" */
}

/* Firefox */
/* Modificar el scrollbar en Firefox */
* {
  scrollbar-color: #333 #f5f5f5; /* Color del scrollbar */
}

/* Estilo de la barra de desplazamiento horizontal en WebKit */
/* WebKit (Chrome, Safari) */
::-webkit-scrollbar-horizontal {
  height: 10px; /* Altura del scrollbar horizontal */
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #333; /* Color del "thumb" del scrollbar horizontal */
  border-radius: 5px; /* Borde redondeado del "thumb" horizontal */
}

/* mobil */

@media only screen and (max-width: 768px) {
 body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 95%;
  }

  .containerbtn {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  
  }
  
  .imatge {
    max-width: 100%;
    margin: 20px 0;
  }
  
  .btn {
    font-size: 25px !important;
    padding: 8px 16px !important;
  }

  .Gtext {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 2vh;
  }

  
  .textoSolo button {
    width: 90%; 
    max-width: 350px; 
    max-height: 50px;
    margin: 4px auto; 
  }

  #upcomingButton{
    font-size: 15px;
  }



  .circuloUFOContainer {
    flex-direction: column; 
    align-items: center; 

  }

  .imagenIzquierda {
    width: 90%; 
    max-width: 300px; 
    margin-bottom: 20px; 
    z-index: 16;
  }

  .circuloUFO {
    width: 60%; 
    margin: 20px auto; 
    z-index: 16;
    scale: 200%;
  }


}


/* distribució pag */

.containerbtn {
  background-color: none;
  display: flex;
  width: 100%;
  height: 50%;
  position: relative; /* Cambiamos a posición relativa para colocar los botones relativos a este contenedor */
  align-items: center;
  justify-content: center; /* Centramos horizontalmente los elementos dentro del contenedor */
  background-color: none;
  margin-top: 0.5%;
}

.imatge {
  max-width: 20%;
  height: auto;
  margin: auto; /* Centramos automáticamente la imagen vertical y horizontalmente */
  transition: all 0.5s; /* Agregamos una transición para que el cambio sea suave */
  z-index: 2;
}

.imatge:hover {
  transform: scale(1.2) rotateX(30deg);/* Agrandamos la imagen al 120% con la propiedad scale */
}

/*BUTTONS*/

.btn {
  text-align: center;
  padding: 0.4% 1%; /* Utilizamos un 5% de padding arriba y abajo y un 10% de padding a los lados */
  width: 300%; /* Establecemos el ancho en un 300% */
  cursor: pointer;
  color: #B2CFC5;
  transition: all 0.5s;
  font-family: 'Goldman', cursive;
  z-index: 100;
  margin: 0 4%; /* Utilizamos un 6% de margen a los lados */
  padding-top: 0.5%;
  position: relative;
  font-size: 180%; /* Establecemos el tamaño de fuente en un 4% */
  text-decoration: none;
  white-space: nowrap; 
  height: 30px;
}

.btn:hover {
  color: #00FF00; /* Cambiamos el color del texto a blanco al pasar el cursor sobre el botón */
}

.btn-izquierda {
  float: left; 
}

.btn-derecha {
  float: right;
}

.btn span {
  z-index: 5;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn::before {
  content: '';
  color:#000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 16;
  transition: all 0.5s;
  border: 3px solid rgba(51, 255 ,51, 0.4);
  border-radius: 60px; /* Agregamos la propiedad para hacer los bordes redondos */
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
  border: 3px solid rgba(51, 255 ,51, 0.4);
  background-color:#000;
  border-radius: 60px; /* Agregamos la propiedad para hacer los bordes redondos */
}

.btn:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}

.btn:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}


/*content web*/

.Gtext {
  display: flex;
  justify-content:center;
  z-index: 16;
  margin: 10px auto;
  margin-top: 2vh;
}

.textoSolo button {
  width: 570px;
  height: 120px;
  border-radius: 40px;
  font-size: 30px;
  font-family: 'Goldman', cursive;
  color: #00ff00;
  background-color: rgba(0,0,0,0.2);
  transition: all 0.5s;
  margin: auto 4px;
  letter-spacing: 1px;
  position: relative; /* Agregada posición relativa para elementos ::before y ::after */
  border: 3px solid rgba(5,5,5, 0);
}

/* Estilos del botón cuando se hace hover */
.textoSolo button:hover {
  background-color: #000228;
  background-color: rgba(124, 155, 160, 1);
  border: 3px solid rgba(255, 255, 255, 1);
  color: #3A405C;
  letter-spacing: 5px;
}

/* Aplicar filtro de desenfoque a la imagen */
.circuloUFOImage {
  filter: blur(20px); /* Aplica el filtro de desenfoque inicialmente */
  transition: filter 0.3s ease; /* Transición para la propiedad filter */
}


/*Slider semicirculo*/
.containerSlider {
  text-align: center;
  z-index: 100;
}

.circuloUFOContainer {
  display: flex;
  justify-content: flex-end; /* Desplaza los elementos a la derecha */
  align-items: center;
}

.imagenIzquierda {
  width: 50%; /* Ajusta el tamaño de la imagen a la izquierda */
  
}

.circuloUFO {
  display: block;
  width: 20%;
  margin:  40px auto; /* Ajusta el espacio entre la circuloUFO y la imagen de la derecha */
  border-radius: 100% 30% 100% 30%;
  border: 2px solid rgba(50, 50, 50, 1);
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
  animation: transform-7 5s infinite alternate;
  transform: perspective(400px) rotateY(0deg);
  object-fit: contain;

}




.circuloUFO:hover {
  transform: perspective(400px) translateZ(150px) rotateY(180deg);
}

@keyframes transform-7 {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }
  100% {
    transform: perspective(400px) rotateY(360deg);
  }
}


.circuloUFO img {
  display: block;
  width: 100%;
  height: auto;
  filter: blur(20px);
}

.circuloUFO:hover {
  transform: perspective(400px) translateZ(150px) rotateY(180deg);
}

@keyframes transform-7 {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }
  100% {
    transform: perspective(400px) rotateY(360deg);
  }
}



/*estrelles*/
.fons{
  align-items: center;
  position:fixed;
  z-index: 1;
  background-size: cover;
  background-position: left; /* Establece la posición inicial desde la izquierda */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.stars-01{
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  box-shadow: 100px 200px #00ff00, 200px 250px #00ff00, 200px 500px #00ff00, 300px 300px #00ff00,
              550px 150px #00ff00, 550px 300px #00ff00, 350px 500px #00ff00, 1750px 150px #00ff00,
              1000px 400px #00ff00, 650px 450px #00ff00, 1200px 50px #00ff00, 1100px 450px #00ff00,
              950px 50px #00ff00, 1100px 500px #00ff00, 850px 400px #00ff00, 850px 300px #00ff00,
              1200px 100px #00ff00, 900px 300px #00ff00, 1150px 400px #00ff00, 1650px 900px #00ff00,
              650px 600px #00ff00, 350px 600px #00ff00, 600px 650px #00ff00, 150px 750px #00ff00,
              1750px 450px #00ff00, 250px 800px #00ff00, 1800px 1150px #00ff00, 450px 1450px #00ff00,
              1150px 800px #00ff00, 100px 700px #00ff00, 350px 650px #00ff00, 250px 600px #00ff00,
              1850px 700px #00ff00, 1650px 600px #00ff00, 450px 1050px #00ff00, 1550px 500px #00ff00,
              150px 1400px #00ff00, 800px 800px #00ff00, 1250px 1950px #00ff00, 100px 1700px #00ff00,
              1150px 1350px #00ff00, 1700px 50px #00ff00, 1750px 500px #00ff00, 300px 1100px #00ff00,
              350px 1650px #00ff00, 1700px 1200px #00ff00, 450px 800px #00ff00, 2000px 500px #00ff00,
              350px 1600px #00ff00, 1350px 1350px #00ff00, 1100px 1750px #00ff00, 150px 950px #00ff00,
              1600px 1700px #00ff00, 400px 1000px #00ff00, 650px 1050px #00ff00, 2000px 1650px #00ff00,
              1100px 700px #00ff00, 1350px 600px #00ff00, 600px 1900px #00ff00, 1500px 600px #9E9E9E,
              20px 1350px #00ff00, 850px 1800px #00ff00, 450px 1150px #00ff00, 50px 700px #00ff00,
              100px 1400px #00ff00, 1000px 1700px #00ff00, 250px 600px #00ff00, 1200px 850px #00ff00,
              1750px 20px #00ff00, 100px 1550px #00ff00, 1200px 1650px #00ff00, 1500px 700px #00ff00,
              1800px 600px #00ff00, 650px 800px #00ff00, 700px 600px #00ff00, 1100px 1350px #00ff00,
              900px 550px #00ff00, 1600px 800px #00ff00, 1000px 1100px #00ff00, 1650px 1350px #00ff00,
              750px 1050px #00ff00, 1750px 800px #00ff00, 600px 1650px #00ff00, 150px 1550px #00ff00,
              250px 1800px #00ff00, 1100px 1700px #00ff00, 800px 1500px #00ff00, 1100px 1200px #00ff00,
              1450px 1600px #00ff00, 150px 1400px #00ff00, 1200px 1450px #00ff00, 1800px 1050px #00ff00,
              1250px 1300px #00ff00, 1000px 1000px #00ff00, 300px 700px #00ff00, 100px 1250px #00ff00,
              700px 1750px #00ff00, 1950px 250px #00ff00, 1550px 700px #00ff00;
  animation: starsUp 10s linear infinite;
}

.stars-02{
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  box-shadow: 100px 200px #00ff00, 200px 250px #00ff00, 200px 500px #00ff00, 300px 300px #00ff00,
              550px 150px #00ff00, 550px 300px #00ff00, 350px 500px #00ff00, 1750px 150px #00ff00,
              1000px 400px #00ff00, 650px 450px #00ff00, 1200px 50px #00ff00, 1100px 450px #00ff00,
              950px 50px #00ff00, 1100px 500px #00ff00, 850px 400px #00ff00, 850px 300px #00ff00,
              1200px 100px #00ff00, 900px 300px #00ff00, 1150px 400px #00ff00, 1650px 900px #00ff00,
              650px 600px #00ff00, 350px 600px #00ff00, 600px 650px #00ff00, 150px 750px #00ff00,
              1750px 450px #00ff00, 250px 800px #00ff00, 1800px 1150px #00ff00, 450px 1450px #00ff00,
              1150px 800px #00ff00, 100px 700px #00ff00, 350px 650px #00ff00, 250px 600px #00ff00,
              1850px 700px #00ff00, 1650px 600px #00ff00, 450px 1050px #00ff00, 1550px 500px #00ff00,
              150px 1400px #00ff00, 800px 800px #00ff00, 1250px 1950px #00ff00, 100px 1700px #00ff00,
              1150px 1350px #00ff00, 1700px 50px #00ff00, 1750px 500px #00ff00, 300px 1100px #00ff00,
              350px 1650px #00ff00, 1700px 1200px #00ff00, 450px 800px #00ff00, 2000px 500px #00ff00,
              350px 1600px #00ff00, 1350px 1350px #00ff00, 1100px 1750px #00ff00, 150px 950px #00ff00,
              1600px 1700px #00ff00, 400px 1000px #00ff00, 650px 1050px #00ff00, 2000px 1650px #00ff00,
              1100px 700px #00ff00, 1350px 600px #00ff00, 600px 1900px #00ff00, 1500px 600px #9E9E9E,
              20px 1350px #00ff00, 850px 1800px #00ff00, 450px 1150px #00ff00, 50px 700px #00ff00,
              100px 1400px #00ff00, 1000px 1700px #00ff00, 250px 600px #00ff00, 1200px 850px #00ff00,
              1750px 20px #00ff00, 100px 1550px #00ff00, 1200px 1650px #00ff00, 1500px 700px #00ff00,
              1800px 600px #00ff00, 650px 800px #00ff00, 700px 600px #00ff00, 1100px 1350px #00ff00,
              900px 550px #00ff00, 1600px 800px #00ff00, 1000px 1100px #00ff00, 1650px 1350px #00ff00,
              750px 1050px #00ff00, 1750px 800px #00ff00, 600px 1650px #00ff00, 150px 1550px #00ff00,
              250px 1800px #00ff00, 1100px 1700px #00ff00, 800px 1500px #00ff00, 1100px 1200px #00ff00,
              1450px 1600px #00ff00, 150px 1400px #00ff00, 1200px 1450px #00ff00, 1800px 1050px #00ff00,
              1250px 1300px #00ff00, 1000px 1000px #00ff00, 300px 700px #00ff00, 100px 1250px #00ff00,
              700px 1750px #00ff00, 1950px 250px #00ff00, 1550px 700px #00ff00;
  animation: starsUp 30s linear infinite;
}

.stars-03{
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  box-shadow: 100px 200px #00ff00, 200px 250px #00ff00, 200px 500px #00ff00, 300px 300px #00ff00,
              550px 150px #00ff00, 550px 300px #00ff00, 350px 500px #00ff00, 1750px 150px #00ff00,
              1000px 400px #00ff00, 650px 450px #00ff00, 1200px 50px #00ff00, 1100px 450px #00ff00,
              950px 50px #00ff00, 1100px 500px #00ff00, 850px 400px #00ff00, 850px 300px #00ff00,
              1200px 100px #00ff00, 900px 300px #00ff00, 1150px 400px #00ff00, 1650px 900px #00ff00,
              650px 600px #00ff00, 350px 600px #00ff00, 600px 650px #00ff00, 150px 750px #00ff00,
              1750px 450px #00ff00, 250px 800px #00ff00, 1800px 1150px #00ff00, 450px 1450px #00ff00,
              1150px 800px #00ff00, 100px 700px #00ff00, 350px 650px #00ff00, 250px 600px #00ff00,
              1850px 700px #00ff00, 1650px 600px #00ff00, 450px 1050px #00ff00, 1550px 500px #00ff00,
              150px 1400px #00ff00, 800px 800px #00ff00, 1250px 1950px #00ff00, 100px 1700px #00ff00,
              1150px 1350px #00ff00, 1700px 50px #00ff00, 1750px 500px #00ff00, 300px 1100px #00ff00,
              350px 1650px #00ff00, 1700px 1200px #00ff00, 450px 800px #00ff00, 2000px 500px #00ff00,
              350px 1600px #00ff00, 1350px 1350px #00ff00, 1100px 1750px #00ff00, 150px 950px #00ff00,
              1600px 1700px #00ff00, 400px 1000px #00ff00, 650px 1050px #00ff00, 2000px 1650px #00ff00,
              1100px 700px #00ff00, 1350px 600px #00ff00, 600px 1900px #00ff00, 1500px 600px #9E9E9E,
              20px 1350px #00ff00, 850px 1800px #00ff00, 450px 1150px #00ff00, 50px 700px #00ff00,
              100px 1400px #00ff00, 1000px 1700px #00ff00, 250px 600px #00ff00, 1200px 850px #00ff00,
              1750px 20px #00ff00, 100px 1550px #00ff00, 1200px 1650px #00ff00, 1500px 700px #00ff00,
              1800px 600px #00ff00, 650px 800px #00ff00, 700px 600px #00ff00, 1100px 1350px #00ff00,
              900px 550px #00ff00, 1600px 800px #00ff00, 1000px 1100px #00ff00, 1650px 1350px #00ff00,
              750px 1050px #00ff00, 1750px 800px #00ff00, 600px 1650px #00ff00, 150px 1550px #00ff00,
              250px 1800px #00ff00, 1100px 1700px #00ff00, 800px 1500px #00ff00, 1100px 1200px #00ff00,
              1450px 1600px #00ff00, 150px 1400px #00ff00, 1200px 1450px #00ff00, 1800px 1050px #00ff00,
              1250px 1300px #00ff00, 1000px 1000px #00ff00, 300px 700px #00ff00, 100px 1250px #00ff00,
              700px 1750px #00ff00, 1950px 250px #00ff00, 1550px 700px #00ff00;
  animation: starsUp 50s linear infinite;
}

.stars-04{
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  box-shadow: 100px 200px #00ff00, 200px 250px #00ff00, 200px 500px #00ff00, 300px 300px #00ff00,
              550px 150px #00ff00, 550px 300px #00ff00, 350px 500px #00ff00, 1750px 150px #00ff00,
              1000px 400px #00ff00, 650px 450px #00ff00, 1200px 50px #00ff00, 1100px 450px #00ff00,
              950px 50px #00ff00, 1100px 500px #00ff00, 850px 400px #00ff00, 850px 300px #00ff00,
              1200px 100px #00ff00, 900px 300px #00ff00, 1150px 400px #00ff00, 1650px 900px #00ff00,
              650px 600px #00ff00, 350px 600px #00ff00, 600px 650px #00ff00, 150px 750px #00ff00,
              1750px 450px #00ff00, 250px 800px #00ff00, 1800px 1150px #00ff00, 450px 1450px #00ff00,
              1150px 800px #00ff00, 100px 700px #00ff00, 350px 650px #00ff00, 250px 600px #00ff00,
              1850px 700px #00ff00, 1650px 600px #00ff00, 450px 1050px #00ff00, 1550px 500px #00ff00,
              150px 1400px #00ff00, 800px 800px #00ff00, 1250px 1950px #00ff00, 100px 1700px #00ff00,
              1150px 1350px #00ff00, 1700px 50px #00ff00, 1750px 500px #00ff00, 300px 1100px #00ff00,
              350px 1650px #00ff00, 1700px 1200px #00ff00, 450px 800px #00ff00, 2000px 500px #00ff00,
              350px 1600px #00ff00, 1350px 1350px #00ff00, 1100px 1750px #00ff00, 150px 950px #00ff00,
              1600px 1700px #00ff00, 400px 1000px #00ff00, 650px 1050px #00ff00, 2000px 1650px #00ff00,
              1100px 700px #00ff00, 1350px 600px #00ff00, 600px 1900px #00ff00, 1500px 600px #9E9E9E,
              20px 1350px #00ff00, 850px 1800px #00ff00, 450px 1150px #00ff00, 50px 700px #00ff00,
              100px 1400px #00ff00, 1000px 1700px #00ff00, 250px 600px #00ff00, 1200px 850px #00ff00,
              1750px 20px #00ff00, 100px 1550px #00ff00, 1200px 1650px #00ff00, 1500px 700px #00ff00,
              1800px 600px #00ff00, 650px 800px #00ff00, 700px 600px #00ff00, 1100px 1350px #00ff00,
              900px 550px #00ff00, 1600px 800px #00ff00, 1000px 1100px #00ff00, 1650px 1350px #00ff00,
              750px 1050px #00ff00, 1750px 800px #00ff00, 600px 1650px #00ff00, 150px 1550px #00ff00,
              250px 1800px #00ff00, 1100px 1700px #00ff00, 800px 1500px #00ff00, 1100px 1200px #00ff00,
              1450px 1600px #00ff00, 150px 1400px #00ff00, 1200px 1450px #00ff00, 1800px 1050px #00ff00,
              1250px 1300px #00ff00, 1000px 1000px #00ff00, 300px 700px #00ff00, 100px 1250px #00ff00,
              700px 1750px #00ff00, 1950px 250px #00ff00, 1550px 700px #00ff00;
  animation: starsUp 100s linear infinite;
}

.stars-05{
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  box-shadow: 100px 200px #ccffcc, 200px 250px #ccffcc, 200px 500px #ccffcc, 300px 300px #ccffcc,
              550px 150px #ccffcc, 550px 300px #ccffcc, 350px 500px #ccffcc, 1750px 150px #ccffcc,
              1000px 400px #ccffcc, 650px 450px #ccffcc, 1200px 50px #ccffcc, 1100px 450px #ccffcc,
              950px 50px #ccffcc, 1100px 500px #ccffcc, 850px 400px #ccffcc, 850px 300px #ccffcc,
              1200px 100px #ccffcc, 900px 300px #ccffcc, 1150px 400px #ccffcc, 1650px 900px #ccffcc,
              650px 600px #ccffcc, 350px 600px #ccffcc, 600px 650px #ccffcc, 150px 750px #ccffcc,
              1750px 450px #ccffcc, 250px 800px #ccffcc, 1800px 1150px #ccffcc, 450px 1450px #ccffcc,
              1150px 800px #ccffcc, 100px 700px #ccffcc, 350px 650px #ccffcc, 250px 600px #ccffcc,
              1850px 700px #ccffcc, 1650px 600px #ccffcc, 450px 1050px #ccffcc, 1550px 500px #ccffcc,
              150px 1400px #ccffcc, 800px 800px #ccffcc, 1250px 1950px #ccffcc, 100px 1700px #ccffcc,
              1150px 1350px #ccffcc, 1700px 50px #ccffcc, 1750px 500px #ccffcc, 300px 1100px #ccffcc,
              350px 1650px #ccffcc, 1700px 1200px #ccffcc, 450px 800px #ccffcc, 2000px 500px #ccffcc,
              350px 1600px #ccffcc, 1350px 1350px #ccffcc, 1100px 1750px #ccffcc, 150px 950px #ccffcc,
              1600px 1700px #ccffcc, 400px 1000px #ccffcc, 650px 1050px #ccffcc, 2000px 1650px #ccffcc,
              1100px 700px #ccffcc, 1350px 600px #ccffcc, 600px 1900px #ccffcc, 1500px 600px #9E9E9E,
              20px 1350px #ccffcc, 850px 1800px #ccffcc, 450px 1150px #ccffcc, 50px 700px #ccffcc,
              100px 1400px #ccffcc, 1000px 1700px #ccffcc, 250px 600px #ccffcc, 1200px 850px #ccffcc,
              1750px 20px #ccffcc, 100px 1550px #ccffcc, 1200px 1650px #ccffcc, 1500px 700px #ccffcc,
              1800px 600px #ccffcc, 650px 800px #ccffcc, 700px 600px #ccffcc, 1100px 1350px #ccffcc,
              900px 550px #ccffcc, 1600px 800px #ccffcc, 1000px 1100px #ccffcc, 1650px 1350px #ccffcc,
              750px 1050px #ccffcc, 1750px 800px #ccffcc, 600px 1650px #ccffcc, 150px 1550px #ccffcc,
              250px 1800px #ccffcc, 1100px 1700px #ccffcc, 800px 1500px #ccffcc, 1100px 1200px #ccffcc,
              1450px 1600px #ccffcc, 150px 1400px #ccffcc, 1200px 1450px #ccffcc, 1800px 1050px #ccffcc,
              1250px 1300px #ccffcc, 1000px 1000px #ccffcc, 300px 700px #ccffcc, 100px 1250px #ccffcc,
              700px 1750px #ccffcc, 1950px 250px #ccffcc, 1550px 700px #ccffcc;
  animation: starsUp 150s linear infinite;
}

@keyframes starsUp{
  0%{
    transform: translateY(-2000px);
  }
  100%{
    transform: translateY(500px);
  }
}

