  body{
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  align-items: center;
  margin: 0rem;
}

/*Loading*/
#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.992;
  z-index: 101;
  background-color: #111111;
}

#loading-image {
  position: absolute;
  width: 100px; 
  height: 100px; 
  z-index: 102; 
  animation: loader 1s linear infinite;
  transform-origin: center center; 
}

@keyframes loader {
  from {
    transform: rotate(0deg); /* Rotación inicial */
  }
  to {
    transform: rotate(360deg); /* Rotación completa */
  }
}


#loading-image2 {
  position: absolute;
  width: 250px; 
  height: 250px; 
  z-index: 102; 
  animation: loader2 1.5s linear infinite;
  transform-origin: center center; 
}

@keyframes loader2 {
  from {
    transform: rotate(360deg); /* Rotación inicial */
  }
  to {
    transform: rotate(0deg); /* Rotación completa */
  }
}

::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
  border-radius: 5px; 
  background: rgb(0,215,255);
  background: linear-gradient(0deg, rgba(0,215,255,1) 0%, rgba(0,127,255,1) 15%, rgba(0,0,0,1) 41%, rgba(0,0,0,1) 56%, rgba(0,127,255,1) 85%, rgba(0,215,255,1) 100%);
}

/* Firefox */
/* Modificar el scrollbar en Firefox */
* {
  scrollbar-color: #060325 #015EBC;  
}

/* Estilo de la barra de desplazamiento horizontal en WebKit */
/* WebKit (Chrome, Safari) */
::-webkit-scrollbar-horizontal {
  height: 10px; /* Altura del scrollbar horizontal */
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #333; /* Color del "thumb" del scrollbar horizontal */
  border-radius: 5px; /* Borde redondeado del "thumb" horizontal */
}

@font-face {
    font-family: Goldman;
    src: url("../fonts/Goldman-Regular.ttf");
}


/* mobil */

@media only screen and (max-width: 1024px) {
  .btn {
    margin: 0 2% !important;
  } 
}

@media only screen and (max-width: 768px) {
 body {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: 95%;
  }

  .containerbtn {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .imatge {
    max-width: 100%;
    margin: 20px 0;
  }
  
  .btn {
    font-size: 25px !important;
    padding: 8px 16px !important;
    margin: 0 20% !important;
  }


  #loading {
    background-color: #111111; 
    z-index: 9999; 
    left: auto;
  }

  #loading-image {
    max-width: 50px; 
    max-height: 50px; 
    z-index: 10000; 
  }
   #loading-image2 {
    max-width: 150px; 
    max-height: 150px; 
    position: absolute;
    z-index: 10000; 
  }

  .circular  {
  scale: 50%;
  position: absolute;
  margin-top: 700px !important;
  }

 

  .btn:hover::before {
  transform: rotate(0deg) !important;
  }

  .btn:hover::after {
  transform: rotate(0deg) !important;
  }

  .MainTitol{
    position: absolute;
    width: 400px;
  }

  .MainTitol button {
    margin-top: 950px !important;
    width: 300px !important;  
    max-width: calc(100% - 40px);  
    font-size: 20px !important; /* Reducción del tamaño de fuente para dispositivos móviles */
  }

  .btn:hover {
  transform: scale(1.0) !important;
  }




}

/*------END PHONE PART----------*/


/* distribució pag */

.containerbtn {
  background-color: none;
  display: flex;
  width: 100%;
  height: 50%;
  position: relative; /* Cambiamos a posición relativa para colocar los botones relativos a este contenedor */
  align-items: center;
  justify-content: center; /* Centramos horizontalmente los elementos dentro del contenedor */
  background-color: none;
  margin-top: 0.5%;
}

.imatge {
  max-width: 20%;
  height: auto;
  margin: auto; 
  transition: all 0.5s; 
  z-index: 2;
}

.imatge:hover {
  transform: scale(1.05);
  background-image: radial-gradient(circle at center, rgba(0, 127, 255, 0.8), rgba(0, 0, 0, 0) 60%);
}



/*BUTTONS*/

.btn {
  text-align: center;
  padding: 0.4% 1%; /* Utilizamos un 5% de padding arriba y abajo y un 10% de padding a los lados */
  width: 300%; /* Establecemos el ancho en un 300% */
  cursor: pointer;
  color: #B2CFC5;
  transition: all 0.5s;
  font-family: 'Goldman', cursive;
  z-index: 100;
  margin: 0 4%; /* Utilizamos un 6% de margen a los lados */
  padding-top: 0.5%;
  position: relative;
  font-size: 180%; /* Establecemos el tamaño de fuente en un 4% */
  text-decoration: none;
  white-space: nowrap; 
  height: 30px;
}

.btn:hover {
  color: #007FFF; /* Cambiamos el color del texto a blanco al pasar el cursor sobre el botón */
}

.btn-izquierda {
  float: left;
}

.btn-derecha {
  float: right;
}

.btn span {
  z-index: 5;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn::before  {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 16;
  transition: all 0.5s;
  border: 3px solid rgba(0, 127 ,255, 0.1);
  border-radius: 60px; 
  background: radial-gradient(circle, rgba(0, 127 ,255, 0.1) 50%, rgba(0, 127 ,255, 0.3) 100%);
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
  border: 3px solid rgba(0, 127 ,255, 0.1);
  background: radial-gradient(circle, rgba(0, 127 ,255, 0.1) 50%, rgba(0, 127 ,255, 0.3) 100%);
  background-color:#000;
  border-radius: 60px;  
}

.btn:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}

.btn:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}

.btn:hover {
  transform: scale(1.3);
}

.Separation{
  margin-top: 3%;
}

/*content web*/
.circular {
  --g: 4%;   /* the gap */
  --s: 400%; /* the size */
  display: grid;
  border-radius: 50%;
  z-index: 20;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.circular:hover {
  opacity: 1;
}

.circular > a {
  grid-area: 1/1;
  width: 400px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x,0),var(--_y,0));
  cursor: pointer;
  z-index: 0;
  transition: .3s, z-index 0s .3s;
}
.circular a:hover {
  --_i: 1;
  z-index: 1;
  transition: transform .2s, clip-path .3s .2s, z-index 0s;
}
.circular:hover a {
  transform: translate(0,0);
}
.circular > a:nth-child(1) {
  clip-path: polygon(50% 50%,calc(50%*var(--_i,0)) calc(120%*var(--_i,0)),0 calc(100%*var(--_i,0)),0 0,100% 0,100% calc(100%*var(--_i,0)),calc(100% - 50%*var(--_i,0)) calc(120%*var(--_i,0)));
  --_y: calc(-1*var(--g))
}
.circular > a:nth-child(2) {
  clip-path: polygon(50% 50%,calc(100% - 120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100% - 100%*var(--_i,0)) 0,100% 0,100% 100%,calc(100% - 100%*var(--_i,0)) 100%,calc(100% - 120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
  --_x: var(--g)
}
.circular > a:nth-child(3) {
  clip-path: polygon(50% 50%,calc(100% - 50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)),100% calc(100% - 120%*var(--_i,0)),100% 100%,0 100%,0 calc(100% - 100%*var(--_i,0)),calc(50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)));
  --_y: var(--g)
}
.circular > a:nth-child(4) {
  clip-path: polygon(50% 50%,calc(120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100%*var(--_i,0)) 0,0 0,0 100%,calc(100%*var(--_i,0)) 100%,calc(120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
  --_x: calc(-1*var(--g))
}


 .MainTitol {
  display: flex;
  justify-content: center; 
  align-items: center;  
  margin-bottom:-100px;
  z-index: 18;
}

.MainTitol button {
  margin-top: 20px;
  max-width: 410px;
  width: 570px;
  max-height: 120px;
  height: 120px;  
  border-radius: 40px;
  font-size: 40px;
  font-family: 'Goldman', cursive;
  color: #007FFF;
  background-color:rgba(0, 2, 40, 0.05);
  transition: all 0.5s;
  letter-spacing: 1px;
  position: relative;
  z-index: 16;
  border: 1px solid rgba(0, 127, 255, 0.3);
  box-shadow: 
      inset 0 0 20px rgba(0, 127, 255, 0.3), 
      0 0 20px rgba(0, 127, 255, 0.15);
}

.MainTitol button:hover {
  background-color: #00022880;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Para Safari */
  border: 1px solid rgba(0, 127, 255, 1);
  color: #007FFF;  
  letter-spacing: 5px;
  box-shadow: inset 0px 0px 20px rgba(0, 127, 255, 0.8),
              0px 4px 10px rgba(0,0,0,0.2), 
              0px 0px 20px rgba(0, 127, 255, 0.8);
  text-shadow: 0px 0px 4px rgba(0, 127, 255, 1),
               0px 0px 10px rgba(0, 127, 255, 0.6); 
}



/*background stars*/
.fullcover {
  position: relative;
}

.difuminado {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -99; 
  backdrop-filter: blur(5px);
}


/*lightning*/
.BGlightning{
  filter: blur(5px);
  position:fixed;
  background-size: cover;
  background-position: left;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

canvas3{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 102; 
        background-size: cover;
        background-repeat: no-repeat; 
    }


/*blur sphere background*/
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, darkblue);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: -101;
}

#blur {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -101;
  backdrop-filter: blur(12vmax);
}
