  body{
  background-color:black;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  align-items: center;
  margin: 0rem;
}

/*Loading*/
#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.992;
  z-index: 101;
  background-color: #111111;
}

#loading-image {
  position: absolute;
  width: 150px; 
  height: 150px; 
  z-index: 102; 
  animation: loader 1s linear infinite;
  transform-origin: center center; 
}

@keyframes loader {
  from {
    transform: rotate(0deg); /* Rotación inicial */
  }
  to {
    transform: rotate(360deg); /* Rotación completa */
  }
}

::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
  border-radius: 5px; 
  background: rgb(255,86,75);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(129,129,129,1) 25%, rgba(200,200,200,1) 50%, rgba(129,129,129,1) 75%, rgba(0,0,0,1) 100%);
}


/* Firefox */
/* Modificar el scrollbar en Firefox */
* {
  scrollbar-color: #060325 #015EBC;
}

/* Estilo de la barra de desplazamiento horizontal en WebKit */
/* WebKit (Chrome, Safari) */
::-webkit-scrollbar-horizontal {
  height: 10px; /* Altura del scrollbar horizontal */
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #333; /* Color del "thumb" del scrollbar horizontal */
  border-radius: 5px; /* Borde redondeado del "thumb" horizontal */
}

/* mobil */

@media only screen and (max-width: 1024px) {
  .btn {
    margin: 0 2% !important;
  } 
}

@media only screen and (max-width: 768px) {
 body {
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    flex-direction: column; /* Agregar esta línea */
    width: 95%;
    align-items: center;
  }

  .containerbtn {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .imatge {
    max-width: 100%;
    margin: 20px 0;
  }
  
  .btn {
    font-size: 25px !important;
    padding: 8px 16px !important;
    margin: 0 20% !important;
  }


  .moreInfo{
    max-width: 370px;
    top: -10%;

   }

  .imagePrograms{
  scale: 30%;
  margin-top: -20%;
  }

  .textPrograms{
   scale: 30%;
   margin-top: -35%;
  }

  .animacio{
   max-height: 45%;
   border-radius: 80px;
   width: 300px;
  }

  .videoGrp{
     top: 100px;
  }

  .textoSolo button {
    width:100% !important; 
    
    font-size: 20px !important; /* Reducción del tamaño de fuente para dispositivos móviles */
  }

  .textMove{
    margin-left: 0px !important;
  }


  .MainTitol button {
    width: calc(150% - 0px) !important; 
    max-width: calc(100% - 40px); 
    font-size: 20px !important; 

  }

  .nearImage {
    scale: 160%;
    max-width: 50%;
    margin: 50px auto !important;
    border-radius: 20px !important;
  }

  .ImatgesVertical {
    max-width: 100%; 
  }

  .ImatgesVertical img {
    margin:60px 30px !important; /* Aumentar el espacio entre las imágenes verticalmente */
  }

  #loading {
    background-color: #111111; 
    z-index: 9999; 
    left: auto;
  }

  #loading-image {
    max-width: 50px; 
    max-height: 50px; 
    z-index: 10000; 
  }

  .buttonBack, .buttonBack2{
  left: 3% !important;
  }

  .trail { 
    background: linear-gradient(to right, rgba(0, 72, 144, 0), rgba(0, 205, 255, 0));
  }

  .btn:hover::before {
  transform: rotate(0deg) !important;
  }

  .btn:hover::after {
  transform: rotate(0deg) !important;
  }

  .btn:hover {
  transform: scale(1.0) !important;
  }

}

/*------END PHONE PART----------*/


/* distribució pag */

.containerbtn {
  background-color: none;
  display: flex;
  width: 100%;
  height: 50%;
  position: relative; /* Cambiamos a posición relativa para colocar los botones relativos a este contenedor */
  align-items: center;
  justify-content: center; /* Centramos horizontalmente los elementos dentro del contenedor */
  background-color: none;
  margin-top: 0.5%;
}

.imatge {
  max-width: 20%;
  height: auto;
  margin: auto; 
  transition: all 0.5s; 
  z-index: 2;
}

.imatge:hover {
  transform: scale(1.05);
  background-image: radial-gradient(circle at center, rgba(0, 127, 255, 0.8), rgba(0, 0, 0, 0) 60%);
}


/*BUTTONS*/

.btn {
  text-align: center;
  padding: 0.4% 1%; /* Utilizamos un 5% de padding arriba y abajo y un 10% de padding a los lados */
  width: 300%; /* Establecemos el ancho en un 300% */
  cursor: pointer;
  color: #B2CFC5;
  transition: all 0.5s;
  font-family: 'Goldman', cursive;
  z-index: 100;
  margin: 0 4%; /* Utilizamos un 6% de margen a los lados */
  padding-top: 0.5%;
  position: relative;
  font-size: 180%; /* Establecemos el tamaño de fuente en un 4% */
  text-decoration: none;
  white-space: nowrap; 
  height: 30px;
}

.btn:hover {
  color: #007FFF;
}

.btn-izquierda {
  float: left;
}

.btn-derecha {
  float: right;
}

.btn span {
  z-index: 5;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn::before  {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 16;
  transition: all 0.5s;
  border: 3px solid rgba(0, 127 ,255, 0.1);
  border-radius: 60px; 
  background: radial-gradient(circle, rgba(0, 127 ,255, 0.1) 50%, rgba(0, 127 ,255, 0.3) 100%);
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
  border: 3px solid rgba(0, 127 ,255, 0.1);
  background: radial-gradient(circle, rgba(0, 127 ,255, 0.1) 50%, rgba(0, 127 ,255, 0.3) 100%);
  background-color:#000;
  border-radius: 60px;  
}

.btn:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}

.btn:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}

.btn:hover {
  transform: scale(1.3);
}



/*boto back*/
.buttonBack{
  display: flex;
  left: 10%;
  position: absolute;
  position: fixed;
  transition: all 0.5s;
  z-index: 20;
  scale: 250%;
}

.buttonBack:hover{
  transform: rotate(-45deg);
  stroke: #FFF;
}

.buttonBack2{
  display: flex;
  left: 10%;
  margin-top: 4em;
  position: absolute;
  position: fixed;
  transition: all 0.5s;
  z-index: 20;
  scale: 250%;
}

.buttonBack2:hover{
  transform: translateY(-4px);
  stroke: #FFF;
}

/*CONTENIDO PAG*/
.textoSolo button {
  width: 480px;
  height: 80px;
  border-radius: 35px;
  font-size: 30px;
  margin-top: 40px;
  font-family: 'Goldman', cursive;
  color: #FFF;
  transition: all 0.5s;
  letter-spacing: 1px;
  position: relative; 
  z-index: 20; 
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 
      inset 0 0 20px rgba(255, 255, 255, 0.2), 
      0 0 20px rgba(255, 255, 255, 0.15),       
      0 4px 15px rgba(0, 0, 0, 0.2);           
  zoom: reset;
  background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0.05)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.textoSolo button:hover {
  background-color: #00022880;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Para Safari */
  border: 1px solid rgba(0, 127, 255, 1);
  color: #007FFF;  
  letter-spacing: 5px;
  box-shadow: inset 0px 0px 20px rgba(0, 127, 255, 0.8),
              0px 4px 10px rgba(0,0,0,0.2), 
              0px 0px 20px rgba(0, 127, 255, 0.8);
  text-shadow: 0px 0px 4px rgba(0, 127, 255, 1),
               0px 0px 10px rgba(0, 127, 255, 0.6); 
}

.MainTitol button {
  width: 500px;
  height: 80px;
  border-radius: 35px;
  margin: 8px 4px;
  font-size: 30px;
  font-family: 'Goldman', cursive;
  color: #007FFF;
  background-color: #000228;
  transition: all 0.5s;
  letter-spacing: 1px;
  position: relative;
  z-index: 16;
  border: 1px solid rgba(0, 127, 255, 0.15);
  box-shadow: 
      inset 0 0 20px rgba(0, 127, 255, 0.2), 
      0 0 20px rgba(0, 127, 255, 0.15);
}

.MainTitol button:hover {
  background-color: #00022880;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Para Safari */
  border: 1px solid rgba(0, 127, 255, 1);
  color: #007FFF;  
  letter-spacing: 5px;
  box-shadow: inset 0px 0px 20px rgba(0, 127, 255, 0.8),
              0px 4px 10px rgba(0,0,0,0.2), 
              0px 0px 20px rgba(0, 127, 255, 0.8);
  text-shadow: 0px 0px 4px rgba(0, 127, 255, 1),
               0px 0px 10px rgba(0, 127, 255, 0.6); 
}

.Data button {
  width: 280px;
  height: 30px;
  font-size: 20px; 
}

.Data button:hover {
  background-color: #00022880;
}

.videoGrp{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 height: 570px;
 width: 150%;
 position: relative;
 margin-top: 20px;
}


.animacio{
  border-radius: 35px;
  width: 50%;
  height: 95%;
}


.moreInfo{
  position: absolute;
  margin: 30px auto;
  z-index: 16;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 450px;
}

.nearImage {
  width: 80%;
  border-radius: 40px;
  margin: 10px auto;
  transition: all 1s;
}


.nearImage:hover {
 transform: scale(.98)
}


.imagePrograms{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.programs{
  margin: 5vh 10vh;
  transition: all 1s;
}

.programs:hover {
 transform: scale(.9)
}

.textPrograms{
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
}


.textMove{
  margin-left: 80px;
}

.animate-charcter
{ 
  margin: auto 14vh;  
  text-transform: uppercase;
  background-image: linear-gradient(
    -45deg,
    #929597 0%,
    #000000 29%,
    #C4C4C4 67%,
    #242525 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 30px;
  font-family: 'Goldman', cursive;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.ImatgesFrozen{
  display: flex;
  flex-direction: column;
  z-index: 16;
  justify-content: center;
  position: center;
}



.ImatgesVertical{
  display: flex;
  flex-direction: row;
  z-index: 16;
  justify-content: center;
  position: center;
  max-width: 50%;
}

/*background stars*/
.fullcover {
  position: relative;
}

.difuminado {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -99; 
  backdrop-filter: blur(5px);
}


/*lightning*/
.BGlightning{
  filter: blur(5px);
  position:fixed;
  background-size: cover;
  background-position: left;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

canvas3{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 102; 
        background-size: cover;
        background-repeat: no-repeat; 
    }


/*blur sphere background*/
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, darkblue);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: -101;
}

#blur {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -101;
  backdrop-filter: blur(12vmax);
}