  body{
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
}

/*Loading*/
#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.992;
  z-index: 101;
  background-color: #111111;
}

#loading-image {
  position: absolute;
  width: 100px; 
  height: 100px; 
  z-index: 102; 
  animation: loader 1s linear infinite;
  transform-origin: center center; 
}

@keyframes loader {
  from {
    transform: rotate(0deg); /* Rotación inicial */
  }
  to {
    transform: rotate(360deg); /* Rotación completa */
  }
}


#loading-image2 {
  position: absolute;
  width: 250px; 
  height: 250px; 
  z-index: 102; 
  animation: loader2 1.5s linear infinite;
  transform-origin: center center; 
}

@keyframes loader2 {
  from {
    transform: rotate(360deg); /* Rotación inicial */
  }
  to {
    transform: rotate(0deg); /* Rotación completa */
  }
}


::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
  border-radius: 5px; 
  background: rgb(0,215,255);
  background: linear-gradient(0deg, rgba(0,215,255,1) 0%, rgba(0,127,255,1) 15%, rgba(0,0,0,1) 41%, rgba(0,0,0,1) 56%, rgba(0,127,255,1) 85%, rgba(0,215,255,1) 100%);
}

/* Firefox */
/* Modificar el scrollbar en Firefox */
* {
  scrollbar-color: #333 #f5f5f5; /* Color del scrollbar */
}

/* Estilo de la barra de desplazamiento horizontal en WebKit */
/* WebKit (Chrome, Safari) */
::-webkit-scrollbar-horizontal {
  height: 10px; /* Altura del scrollbar horizontal */
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #333; /* Color del "thumb" del scrollbar horizontal */
  border-radius: 5px; /* Borde redondeado del "thumb" horizontal */
}


/* mobil */

@media only screen and (max-width: 768px) {
 body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 95%;
  }

  .containerbtn {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px; 
  }
  
  .imatge {
    max-width: 100%;
    margin: 20px 0;
  }
  
  .btn {
    font-size: 25px !important;
    padding: 8px 16px !important;
  }

.gallery {
    flex-direction: column;
    align-items: center;
    
    width: calc(100% - 40px); /* Resta el margen de ambos lados */
    max-width: calc(100% - 40px); /* Asegura que no se desborde horizontalmente */
  }

  .gallery-item {
    margin: 0 !important;
  }

  .textoSolo button {
    width: calc(100% - 40px) !important; /* Resta el margen de ambos lados */
    max-width: calc(100% - 40px); /* Ajusta el ancho del botón al 100% del contenedor con margen */
    font-size: 20px !important; /* Reducción del tamaño de fuente para dispositivos móviles */
  }

  .MainTitol{
    margin: 100px auto !important;
  }

  .MainTitol button {
    width: calc(150% - 0px) !important; /* Resta el margen de ambos lados */
    max-width: calc(100% - 40px); /* Ajusta el ancho del botón al 100% del contenedor con margen */
    font-size: 20px !important; /* Reducción del tamaño de fuente para dispositivos móviles */
  }

   #loading {
    background-color: #111111; 
    z-index: 9999; 
    top: -50px;
    left: auto;
  }

  #loading-image {
    max-width: 50px; 
    max-height: 50px; 
    z-index: 10000; 
  }
   #loading-image2 {
    max-width: 150px; 
    max-height: 150px; 
    position: absolute;
    z-index: 10000; 
  }


}


/* distribució pag */

.containerbtn {
  background-color: none;
  display: flex;
  width: 100%;
  height: 50%;
  position: relative; /* Cambiamos a posición relativa para colocar los botones relativos a este contenedor */
  align-items: center;
  justify-content: center; /* Centramos horizontalmente los elementos dentro del contenedor */
  background-color: none;
  margin-top: 0.5%;
}

.imatge {
  max-width: 20%;
  height: auto;
  margin: auto; /* Centramos automáticamente la imagen vertical y horizontalmente */
  transition: all 0.5s; /* Agregamos una transición para que el cambio sea suave */
  z-index: 2;
}

.imatge:hover {
  transform: scale(1.2) rotateX(30deg);/* Agrandamos la imagen al 120% con la propiedad scale */
}

/*BUTTONS*/

.btn {
  text-align: center;
  padding: 0.4% 1%; /* Utilizamos un 5% de padding arriba y abajo y un 10% de padding a los lados */
  width: 300%; /* Establecemos el ancho en un 300% */
  cursor: pointer;
  color: #B2CFC5;
  transition: all 0.5s;
  font-family: 'Goldman', cursive;
  z-index: 11;
  margin: 0 4%; /* Utilizamos un 6% de margen a los lados */
  padding-top: 0.5%;
  position: relative;
  font-size: 180%; /* Establecemos el tamaño de fuente en un 4% */
  text-decoration: none;
  white-space: nowrap; 
  height: 30px;
}

.btn:hover {
  color: #007FFF; /* Cambiamos el color del texto a blanco al pasar el cursor sobre el botón */
}

.btn-izquierda {
  float: left; 
}

.btn-derecha {
  float: right;
}

.btn span {
  z-index: 5;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn::before {
  content: '';
  color:#000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 16;
  transition: all 0.5s;
  border: 3px solid rgba(0, 127 ,255, 0.4);
  border-radius: 60px; /* Agregamos la propiedad para hacer los bordes redondos */
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
  border: 3px solid rgba(0, 127 ,255, 0.4);
  background-color:#000;
  border-radius: 60px; /* Agregamos la propiedad para hacer los bordes redondos */
}

.btn:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}

.btn:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}

/*galleria d'imatges*/
.MainTitol {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-bottom:-100px;
  z-index: 18;
}

.MainTitol button {
  margin-top: 20px;
  max-width: 570px;
  width: 570px;
  max-height: 120px;
  height: 120px;
  border-radius: 40px;
  font-size: 30px;
  font-family: 'Goldman', cursive;
  color: #FFF;
  background-color: rgba(20, 20, 20, 1);
  transition: all 0.5s;
  letter-spacing: 1px;
  position: relative;
  border: 3px solid rgba(0, 0, 0, 1);
}

.MainTitol button:hover {
  background-color: #000228;
  border: 3px solid rgba(0, 2 ,40, 1);
  color: #007FFF;
  letter-spacing: 5px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  margin: 50px auto; /* Agregado margen superior e inferior */
  cursor: pointer;
  z-index: 16;
}

.gallery-item {
  width: 100%;
  max-width: 570px;
  margin: 0 30px; /* Ajusta el valor del margen según tus preferencias */
  text-align: center;
  margin-top: 100px;
}

.gallery-item .textoSolo {
  margin-top: 10px;
}


.textoSolo button {
  max-width: 570px;
  width: 570px;
  max-height: 120px;
  height: 120px;
  border-radius: 40px;
  font-size: 30px;
  font-family: 'Goldman', cursive;
  color: #FFF;
  background-color: rgba(20,20,20,1);
  transition: all 0.5s;
  letter-spacing: 1px;
  position: relative; /* Agregada posición relativa para elementos ::before y ::after */
  border: 3px solid rgba(0,0,0, 1);
  zoom: reset;
}

.textoSolo button:hover {
  background-color: #000228;
  background-color: rgba(255,255,255, 1);
  border: 3px solid rgba(255, 255 ,255, 1);
  color: #000;
  letter-spacing: 5px;
}


.Workies {
  width: 100%;
  height: auto;
  border-radius: 40px;
  transition: all 0.5s;
}

.Workies:hover {
  transform: scale(1.1);
}

.linky {
  flex: 1;
  border: 0;
}



#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

img[id^="overlayImage"] {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
} 






.espacioWorks{
  margin: 80px auto;
}



/*estrelles*/
.fons{
  align-items: center;
  position:fixed;
  z-index: 1;
  background-size: cover;
  background-position: left; /* Establece la posición inicial desde la izquierda */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.stars-01{
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  box-shadow: 100px 200px #007FFF, 200px 250px #007FFF, 200px 500px #007FFF, 300px 300px #007FFF,
              550px 150px #007FFF, 550px 300px #007FFF, 350px 500px #007FFF, 1750px 150px #007FFF,
              1000px 400px #007FFF, 650px 450px #007FFF, 1200px 50px #007FFF, 1100px 450px #007FFF,
              950px 50px #007FFF, 1100px 500px #007FFF, 850px 400px #007FFF, 850px 300px #007FFF,
              1200px 100px #007FFF, 900px 300px #007FFF, 1150px 400px #007FFF, 1650px 900px #007FFF,
              650px 600px #007FFF, 350px 600px #007FFF, 600px 650px #007FFF, 150px 750px #007FFF,
              1750px 450px #007FFF, 250px 800px #007FFF, 1800px 1150px #007FFF, 450px 1450px #007FFF,
              1150px 800px #007FFF, 100px 700px #007FFF, 350px 650px #007FFF, 250px 600px #007FFF,
              1850px 700px #007FFF, 1650px 600px #007FFF, 450px 1050px #007FFF, 1550px 500px #007FFF,
              150px 1400px #007FFF, 800px 800px #007FFF, 1250px 1950px #007FFF, 100px 1700px #007FFF,
              1150px 1350px #007FFF, 1700px 50px #007FFF, 1750px 500px #007FFF, 300px 1100px #007FFF,
              350px 1650px #007FFF, 1700px 1200px #007FFF, 450px 800px #007FFF, 2000px 500px #007FFF,
              350px 1600px #007FFF, 1350px 1350px #007FFF, 1100px 1750px #007FFF, 150px 950px #007FFF,
              1600px 1700px #007FFF, 400px 1000px #007FFF, 650px 1050px #007FFF, 2000px 1650px #007FFF,
              1100px 700px #007FFF, 1350px 600px #007FFF, 600px 1900px #007FFF, 1500px 600px #9E9E9E,
              20px 1350px #007FFF, 850px 1800px #007FFF, 450px 1150px #007FFF, 50px 700px #007FFF,
              100px 1400px #007FFF, 1000px 1700px #007FFF, 250px 600px #007FFF, 1200px 850px #007FFF,
              1750px 20px #007FFF, 100px 1550px #007FFF, 1200px 1650px #007FFF, 1500px 700px #007FFF,
              1800px 600px #007FFF, 650px 800px #007FFF, 700px 600px #007FFF, 1100px 1350px #007FFF,
              900px 550px #007FFF, 1600px 800px #007FFF, 1000px 1100px #007FFF, 1650px 1350px #007FFF,
              750px 1050px #007FFF, 1750px 800px #007FFF, 600px 1650px #007FFF, 150px 1550px #007FFF,
              250px 1800px #007FFF, 1100px 1700px #007FFF, 800px 1500px #007FFF, 1100px 1200px #007FFF,
              1450px 1600px #007FFF, 150px 1400px #007FFF, 1200px 1450px #007FFF, 1800px 1050px #007FFF,
              1250px 1300px #007FFF, 1000px 1000px #007FFF, 300px 700px #007FFF, 100px 1250px #007FFF,
              700px 1750px #007FFF, 1950px 250px #007FFF, 1550px 700px #007FFF;
  animation: starsUp 10s linear infinite;
}

.stars-02{
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  box-shadow: 100px 200px #007FFF, 200px 250px #007FFF, 200px 500px #007FFF, 300px 300px #007FFF,
              550px 150px #007FFF, 550px 300px #007FFF, 350px 500px #007FFF, 1750px 150px #007FFF,
              1000px 400px #007FFF, 650px 450px #007FFF, 1200px 50px #007FFF, 1100px 450px #007FFF,
              950px 50px #007FFF, 1100px 500px #007FFF, 850px 400px #007FFF, 850px 300px #007FFF,
              1200px 100px #007FFF, 900px 300px #007FFF, 1150px 400px #007FFF, 1650px 900px #007FFF,
              650px 600px #007FFF, 350px 600px #007FFF, 600px 650px #007FFF, 150px 750px #007FFF,
              1750px 450px #007FFF, 250px 800px #007FFF, 1800px 1150px #007FFF, 450px 1450px #007FFF,
              1150px 800px #007FFF, 100px 700px #007FFF, 350px 650px #007FFF, 250px 600px #007FFF,
              1850px 700px #007FFF, 1650px 600px #007FFF, 450px 1050px #007FFF, 1550px 500px #007FFF,
              150px 1400px #007FFF, 800px 800px #007FFF, 1250px 1950px #007FFF, 100px 1700px #007FFF,
              1150px 1350px #007FFF, 1700px 50px #007FFF, 1750px 500px #007FFF, 300px 1100px #007FFF,
              350px 1650px #007FFF, 1700px 1200px #007FFF, 450px 800px #007FFF, 2000px 500px #007FFF,
              350px 1600px #007FFF, 1350px 1350px #007FFF, 1100px 1750px #007FFF, 150px 950px #007FFF,
              1600px 1700px #007FFF, 400px 1000px #007FFF, 650px 1050px #007FFF, 2000px 1650px #007FFF,
              1100px 700px #007FFF, 1350px 600px #007FFF, 600px 1900px #007FFF, 1500px 600px #9E9E9E,
              20px 1350px #007FFF, 850px 1800px #007FFF, 450px 1150px #007FFF, 50px 700px #007FFF,
              100px 1400px #007FFF, 1000px 1700px #007FFF, 250px 600px #007FFF, 1200px 850px #007FFF,
              1750px 20px #007FFF, 100px 1550px #007FFF, 1200px 1650px #007FFF, 1500px 700px #007FFF,
              1800px 600px #007FFF, 650px 800px #007FFF, 700px 600px #007FFF, 1100px 1350px #007FFF,
              900px 550px #007FFF, 1600px 800px #007FFF, 1000px 1100px #007FFF, 1650px 1350px #007FFF,
              750px 1050px #007FFF, 1750px 800px #007FFF, 600px 1650px #007FFF, 150px 1550px #007FFF,
              250px 1800px #007FFF, 1100px 1700px #007FFF, 800px 1500px #007FFF, 1100px 1200px #007FFF,
              1450px 1600px #007FFF, 150px 1400px #007FFF, 1200px 1450px #007FFF, 1800px 1050px #007FFF,
              1250px 1300px #007FFF, 1000px 1000px #007FFF, 300px 700px #007FFF, 100px 1250px #007FFF,
              700px 1750px #007FFF, 1950px 250px #007FFF, 1550px 700px #007FFF;
  animation: starsUp 30s linear infinite;
}

.stars-03{
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  box-shadow: 100px 200px #007FFF, 200px 250px #007FFF, 200px 500px #007FFF, 300px 300px #007FFF,
              550px 150px #007FFF, 550px 300px #007FFF, 350px 500px #007FFF, 1750px 150px #007FFF,
              1000px 400px #007FFF, 650px 450px #007FFF, 1200px 50px #007FFF, 1100px 450px #007FFF,
              950px 50px #007FFF, 1100px 500px #007FFF, 850px 400px #007FFF, 850px 300px #007FFF,
              1200px 100px #007FFF, 900px 300px #007FFF, 1150px 400px #007FFF, 1650px 900px #007FFF,
              650px 600px #007FFF, 350px 600px #007FFF, 600px 650px #007FFF, 150px 750px #007FFF,
              1750px 450px #007FFF, 250px 800px #007FFF, 1800px 1150px #007FFF, 450px 1450px #007FFF,
              1150px 800px #007FFF, 100px 700px #007FFF, 350px 650px #007FFF, 250px 600px #007FFF,
              1850px 700px #007FFF, 1650px 600px #007FFF, 450px 1050px #007FFF, 1550px 500px #007FFF,
              150px 1400px #007FFF, 800px 800px #007FFF, 1250px 1950px #007FFF, 100px 1700px #007FFF,
              1150px 1350px #007FFF, 1700px 50px #007FFF, 1750px 500px #007FFF, 300px 1100px #007FFF,
              350px 1650px #007FFF, 1700px 1200px #007FFF, 450px 800px #007FFF, 2000px 500px #007FFF,
              350px 1600px #007FFF, 1350px 1350px #007FFF, 1100px 1750px #007FFF, 150px 950px #007FFF,
              1600px 1700px #007FFF, 400px 1000px #007FFF, 650px 1050px #007FFF, 2000px 1650px #007FFF,
              1100px 700px #007FFF, 1350px 600px #007FFF, 600px 1900px #007FFF, 1500px 600px #9E9E9E,
              20px 1350px #007FFF, 850px 1800px #007FFF, 450px 1150px #007FFF, 50px 700px #007FFF,
              100px 1400px #007FFF, 1000px 1700px #007FFF, 250px 600px #007FFF, 1200px 850px #007FFF,
              1750px 20px #007FFF, 100px 1550px #007FFF, 1200px 1650px #007FFF, 1500px 700px #007FFF,
              1800px 600px #007FFF, 650px 800px #007FFF, 700px 600px #007FFF, 1100px 1350px #007FFF,
              900px 550px #007FFF, 1600px 800px #007FFF, 1000px 1100px #007FFF, 1650px 1350px #007FFF,
              750px 1050px #007FFF, 1750px 800px #007FFF, 600px 1650px #007FFF, 150px 1550px #007FFF,
              250px 1800px #007FFF, 1100px 1700px #007FFF, 800px 1500px #007FFF, 1100px 1200px #007FFF,
              1450px 1600px #007FFF, 150px 1400px #007FFF, 1200px 1450px #007FFF, 1800px 1050px #007FFF,
              1250px 1300px #007FFF, 1000px 1000px #007FFF, 300px 700px #007FFF, 100px 1250px #007FFF,
              700px 1750px #007FFF, 1950px 250px #007FFF, 1550px 700px #007FFF;
  animation: starsUp 50s linear infinite;
}

.stars-04{
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  box-shadow: 100px 200px #007FFF, 200px 250px #007FFF, 200px 500px #007FFF, 300px 300px #007FFF,
              550px 150px #007FFF, 550px 300px #007FFF, 350px 500px #007FFF, 1750px 150px #007FFF,
              1000px 400px #007FFF, 650px 450px #007FFF, 1200px 50px #007FFF, 1100px 450px #007FFF,
              950px 50px #007FFF, 1100px 500px #007FFF, 850px 400px #007FFF, 850px 300px #007FFF,
              1200px 100px #007FFF, 900px 300px #007FFF, 1150px 400px #007FFF, 1650px 900px #007FFF,
              650px 600px #007FFF, 350px 600px #007FFF, 600px 650px #007FFF, 150px 750px #007FFF,
              1750px 450px #007FFF, 250px 800px #007FFF, 1800px 1150px #007FFF, 450px 1450px #007FFF,
              1150px 800px #007FFF, 100px 700px #007FFF, 350px 650px #007FFF, 250px 600px #007FFF,
              1850px 700px #007FFF, 1650px 600px #007FFF, 450px 1050px #007FFF, 1550px 500px #007FFF,
              150px 1400px #007FFF, 800px 800px #007FFF, 1250px 1950px #007FFF, 100px 1700px #007FFF,
              1150px 1350px #007FFF, 1700px 50px #007FFF, 1750px 500px #007FFF, 300px 1100px #007FFF,
              350px 1650px #007FFF, 1700px 1200px #007FFF, 450px 800px #007FFF, 2000px 500px #007FFF,
              350px 1600px #007FFF, 1350px 1350px #007FFF, 1100px 1750px #007FFF, 150px 950px #007FFF,
              1600px 1700px #007FFF, 400px 1000px #007FFF, 650px 1050px #007FFF, 2000px 1650px #007FFF,
              1100px 700px #007FFF, 1350px 600px #007FFF, 600px 1900px #007FFF, 1500px 600px #9E9E9E,
              20px 1350px #007FFF, 850px 1800px #007FFF, 450px 1150px #007FFF, 50px 700px #007FFF,
              100px 1400px #007FFF, 1000px 1700px #007FFF, 250px 600px #007FFF, 1200px 850px #007FFF,
              1750px 20px #007FFF, 100px 1550px #007FFF, 1200px 1650px #007FFF, 1500px 700px #007FFF,
              1800px 600px #007FFF, 650px 800px #007FFF, 700px 600px #007FFF, 1100px 1350px #007FFF,
              900px 550px #007FFF, 1600px 800px #007FFF, 1000px 1100px #007FFF, 1650px 1350px #007FFF,
              750px 1050px #007FFF, 1750px 800px #007FFF, 600px 1650px #007FFF, 150px 1550px #007FFF,
              250px 1800px #007FFF, 1100px 1700px #007FFF, 800px 1500px #007FFF, 1100px 1200px #007FFF,
              1450px 1600px #007FFF, 150px 1400px #007FFF, 1200px 1450px #007FFF, 1800px 1050px #007FFF,
              1250px 1300px #007FFF, 1000px 1000px #007FFF, 300px 700px #007FFF, 100px 1250px #007FFF,
              700px 1750px #007FFF, 1950px 250px #007FFF, 1550px 700px #007FFF;
  animation: starsUp 100s linear infinite;
}

.stars-05{
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  box-shadow: 100px 200px #007FFF, 200px 250px #007FFF, 200px 500px #007FFF, 300px 300px #007FFF,
              550px 150px #007FFF, 550px 300px #007FFF, 350px 500px #007FFF, 1750px 150px #007FFF,
              1000px 400px #007FFF, 650px 450px #007FFF, 1200px 50px #007FFF, 1100px 450px #007FFF,
              950px 50px #007FFF, 1100px 500px #007FFF, 850px 400px #007FFF, 850px 300px #007FFF,
              1200px 100px #007FFF, 900px 300px #007FFF, 1150px 400px #007FFF, 1650px 900px #007FFF,
              650px 600px #007FFF, 350px 600px #007FFF, 600px 650px #007FFF, 150px 750px #007FFF,
              1750px 450px #007FFF, 250px 800px #007FFF, 1800px 1150px #007FFF, 450px 1450px #007FFF,
              1150px 800px #007FFF, 100px 700px #007FFF, 350px 650px #007FFF, 250px 600px #007FFF,
              1850px 700px #007FFF, 1650px 600px #007FFF, 450px 1050px #007FFF, 1550px 500px #007FFF,
              150px 1400px #007FFF, 800px 800px #007FFF, 1250px 1950px #007FFF, 100px 1700px #007FFF,
              1150px 1350px #007FFF, 1700px 50px #007FFF, 1750px 500px #007FFF, 300px 1100px #007FFF,
              350px 1650px #007FFF, 1700px 1200px #007FFF, 450px 800px #007FFF, 2000px 500px #007FFF,
              350px 1600px #007FFF, 1350px 1350px #007FFF, 1100px 1750px #007FFF, 150px 950px #007FFF,
              1600px 1700px #007FFF, 400px 1000px #007FFF, 650px 1050px #007FFF, 2000px 1650px #007FFF,
              1100px 700px #007FFF, 1350px 600px #007FFF, 600px 1900px #007FFF, 1500px 600px #9E9E9E,
              20px 1350px #007FFF, 850px 1800px #007FFF, 450px 1150px #007FFF, 50px 700px #007FFF,
              100px 1400px #007FFF, 1000px 1700px #007FFF, 250px 600px #007FFF, 1200px 850px #007FFF,
              1750px 20px #007FFF, 100px 1550px #007FFF, 1200px 1650px #007FFF, 1500px 700px #007FFF,
              1800px 600px #007FFF, 650px 800px #007FFF, 700px 600px #007FFF, 1100px 1350px #007FFF,
              900px 550px #007FFF, 1600px 800px #007FFF, 1000px 1100px #007FFF, 1650px 1350px #007FFF,
              750px 1050px #007FFF, 1750px 800px #007FFF, 600px 1650px #007FFF, 150px 1550px #007FFF,
              250px 1800px #007FFF, 1100px 1700px #007FFF, 800px 1500px #007FFF, 1100px 1200px #007FFF,
              1450px 1600px #007FFF, 150px 1400px #007FFF, 1200px 1450px #007FFF, 1800px 1050px #007FFF,
              1250px 1300px #007FFF, 1000px 1000px #007FFF, 300px 700px #007FFF, 100px 1250px #007FFF,
              700px 1750px #007FFF, 1950px 250px #007FFF, 1550px 700px #007FFF;
  animation: starsUp 150s linear infinite;
}

@keyframes starsUp{
  0%{
    transform: translateY(-2000px);
  }
  100%{
    transform: translateY(500px);
  }
}


