 body {
      background-color: white;
    }


.visor{

}


#containers{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 50px;
  
}

.mdl_view{
    display: flex;
    align-content: center;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

#mdl_size{
    height: 250px;
    width: 500px;
}

