 body {
      background-color: white;
    }


.visor{

}


#containers
{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 50px;
    padding: 25px;
    
}

.mdl_view
{

    display: flex;
    justify-content: flex-start;
    height: 100%;
    padding: 0px;
    flex-flow: inherit;
    width: 100%;
    background-color: black;
    padding-top: 20px;
}

#mdl_size
{
    height: 750px;
    width: 1500px;


}

#view
{
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;

}